#mainContent {
    display: block;
    background: white;
    position: static;
    width: 100vw;
    height: 100vw;
    padding-top: 20px;
    border: 0;
}

header {
    position: absolute;
    height: 20px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: hsla(0, 0%, 0%, 0.5);
    display: inline-flex;
}

button {
    margin-right: 15px;
}

div {
    background: white;
    display: inline-flex;
    border-width: 1px;
}

.row {
    width: 100vw;
    position: relative;
}

.slatePixel {
    position: relative;
}

p {
    color: white;
}